body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.zag1{
    color: white;
    font-size: 60px;
    text-align: center;
}

.mainblock{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upblock{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.upblock1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.downblock{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.downblock1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.egg{
    background-color: rgb(189, 189, 189);
    width: 900px;
    height: 600px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
h2{
    text-align: center;
    color: white;
    font-size: 30px;
}
.polegg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.polegg div p{
    text-align: center;
    font-size: 15px;
    background-color: rgb(70, 70, 70);
    width: 100%;
    height: 30px;
    padding: 15px 0 0 0;
    margin: 0;
    border-bottom: 2px solid black;
}
.polegg div h3{
    text-align: center;
    font-size: 15px;
    background-color: rgb(158, 158, 158);
    width: 100%;
    height: auto;
    padding: 15px 0 0 0;
    margin: 0;
    border-bottom: 2px solid black;
    font-weight: 100;
}
#date{
    width: 15%;
    height: 100%;
    border-right: 2px solid black;
}
#time{
    width: 10%;
    height: 100%;
    border-right: 2px solid black;
}
#patient{
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
}
#vrach{
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
}
#clinika{
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
}
#technik{
    width: 15%;
    height: 100%;
}

.adminblock{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.add_div{
    background-color: rgb(180, 180, 180);
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 20px;
    padding: 0 0 50px 0;
}

.del_div{
    background-color: rgb(180, 180, 180);
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 30px;
    border-radius: 20px;
    padding: 0 0 50px 0;
}

.zag2{
    color: white;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}
.boxes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: auto;
}
.boxes input{
    margin: auto;
    width: 250px;
    height: 35px;
    font-size: 15px;
    text-align: center;
}
.boxes select{
    margin: auto;
    width: 260px;
    height: 38px;
    font-size: 15px;
    text-align: center;
}
#buttons{
    display: flex;
    justify-content: center;
    margin: auto;
}
button{
    width: 100px;
    height: 50px;
    text-align: center;
    margin: auto;
    font-size: 20 px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
}
.boxes p{
    margin: auto;
    text-align: center;
    font-size: 18px;
    padding: 30px 0 0 0;
}

#clear_btn{
    margin: 0 25px; 
}