@media (max-width:430px) {
    body {
    background-color: #E0FBFF;
    margin: 0;
    width: 100%;
    }

    h1{
        text-align: center;
        font-size: 40px;
        margin: 30px auto;
        font-family: Comic Sans MS;
        color: #032C7A;
    }

    .schedule{
        padding: 20px;
    }

    .time{
        width: 16%;
    }

    .discipline{
        width: 45%;
    }

    .type{
        width: 11%;
    }

    .prepod{
        width: 20%;
    }

    .aud{
        width: 8%;
    }

    table{
        width: 98%;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border: none;
        margin-bottom: 40px;
    }

    table thead{
        background-color: #ABC4FF;
        color: #032C7A;
        height: 40px;
        font-size: 25px;
        font-family: Comic Sans MS;
    }

    .names{
        background-color: #BDE0FE;
    }

    table tbody{
        color: #032C7A;
        font-size: 12px;
        font-family: Comic Sans MS;
    }

    table tbody tr th:first-child{
        font-size: 10px;
    }
     
    table thead{
        border-bottom: 1px solid #809BCE;
    }

    table tbody th{
        border-right: 1px solid #809BCE;
        border-bottom: 1px solid #809BCE;
    }
    
    table tr:last-child th {
        border-bottom: none;
    }

    table tr th:last-child{
        border-right: none;
    }
}